<footer class="page_footer s-py-50 pb-60  ds s-bordertop s-pt-30">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mt-4 text-center animate" data-animation="fadeInUp">
                <div class="widget widget_social_buttons">
                    <a href="https://www.facebook.com/pers.lease.5" class="fa fa-facebook color-bg-icon rounded-icon" title="facebook"></a>
                    <!-- <a href="#" class="fa fa-twitter color-bg-icon rounded-icon" title="twitter"></a> -->
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="page_copyright ds ms s-py-30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center animate" data-animation="scaleAppear">
                <div class="mb-10">
                    <img src="{{ 'assets/images/Logo.jpg'|theme }}" alt="">
                </div>
            </div>
            <div class="col-md-12 text-center animate" data-animation="scaleAppear">
                <p>&copy; Copyright
                    <span class="copyright_year">2019</span> All Rights Reserved</p>
            </div>
        </div>
    </div>
</section>
